body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    
    padding: 20px;
    color: white;
    text-align: center;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.page-title{
    text-align: center;
    margin: 25px 0px;
}
.sub-title{
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 0px 0px 10px 0px;
    color: slategrey;
}
/*table styles*/
.table .thead-dark th{
    white-space: nowrap;
}
.tbl-wth-link tbody tr{
    cursor: pointer;
}
.acc-page-title {
    margin:25px 0px;
}